*

/*BORDA DO SITE*/
    {
    margin: 0;
    /*Tamanho da margem do site*/
    padding: 0;
    /*Retira o tamanho (Preenchimento) do Site*/
    list-style: none;
    /*Remove o tipo de lista*/
}

/*CABEÇALHO*/
header {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: space-between;
    /*Tamanho da separação das imagens e textos*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
    background-color: #000000;
    /*Cor de fundo*/
}

/* LOGO */
header img {
    width: 200px;
    /*Largura para a imagem*/
    height: 200px;
    /*Altura para a imagem*/
}

/* TÍTULO  */
header h1 {
    color: rgb(255, 0, 0);
    /*Cor da Letra*/
    font-size: 70px;
    /*Tamanho do Título*/
}

/* LISTA NÃO ORDENADA */
header nav ul {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
}

header nav ul a {
    font-size: 20px;
    /*Tamanho do Texto*/
    margin-right: 30px;
    /*Espaçamento entre as (LI)*/
    text-decoration: none;
    /*Tira o tipo de Tecto*/
    color: aliceblue;
    /*Cor da Letra*/
}

header nav ul a:hover {
    color: rgb(255, 0, 0);
    transition: 0.5s;
}


/* PRIMEIRA SESSÃO */
.sessão-01 {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: center;
    /*Centraliza o texto ou imagem*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
    background-image: url(Imagens/PLANOS.jpg);
    background-repeat: no-repeat;
    /*Retira a Repetição da imagem*/
    background-size: cover;
    /*Fazer que a Imagem preencha o tamanho disponivel*/
    background-position: center;
    /*Posição da imagem no site*/
    padding: 262px;
    /*Adiciona tamanho (preenchimento) para aparecer no site*/
}

/* EDIÇÃO DO BOTÃO */
.sessão-01 button {
    width: 200px;
    /*Largura para a imagem*/
    height: 50px;
    /*Altura para a imagem*/
    background-color: #00000079;
    /*Cor de fundo*/
    color: rgba(255, 255, 255, 0.795);
    /*Cor da Letra*/
    border-radius: 15px;
    /*Tamanho da curvatura do botão*/
}

.sessão-01 button:hover {
    /*Hover permite que o elemento a qual está trabalhando tenha alguma ação ao passar o mouse*/
    background-color: rgba(0, 0, 0, 0.856);
    /*Cor do fundo do nosso botão*/
    transition: 0.5s;
    /*Tempo de ação ao passar o mouse*/
    color: rgb(255, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*Fonte das letras*/
    cursor: pointer;
    /*Modifica o cursos do mouse*/
    border-color: brown;
    /*Modifica a cor da borda do botão ao passar o mouse*/
}

/* SEGUNDA SESSÃO */
.sessão-02 {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: space-evenly;
    /*Tamanho da separação das imagens e textos*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
    background-color: #030303;
    /*Cor de fundo*/
    padding: 100px;
    /*Adiciona tamanho (preenchimento) para aparecer no site*/
}

/* EDIÇÃO DA IMAGEM */
.sessão-02 img {
    width: 200px;
    /*Largura para a imagem*/
    height: 200px;
    /*Altura para a imagem*/
}

/* EDIÇÃO DO SUBTÍTULO */
.sessão-02 h2 {
    margin-left: 14px;
    /*Tamanho do espaço de todos os lados*/
    font-weight: bold;
    /*Preenchimento das palavras*/
    font-size: 40px;
    /*Tamanho do Subtítulo*/
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: center;
    /*Centraliza o texto ou imagem*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
    color: rgb(255, 0, 0);
    /*Cor da Letra*/
}

/* EDIÇÃO DO PARAGRÁFO */
.sessão-02 p {
    margin-left: 14px;
    /*Tamanho do espaço de todos os lados*/
    font-size: 25px;
    /*Tamanh do texto*/
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: center;
    /*Centraliza o texto ou imagem*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
    color: aliceblue;
    /*Cor da Letra*/
}

.sessão-02 img:hover {
    /*Hover permite que o elemento a qual está trabalhando tenha alguma ação ao passar o mouse*/
    width: 250px;
    /*Largura para a imagem*/
    height: 250px;
    /*Altura para a imagem*/
    transition: 1s;
    /*Tempo de ação ao passar o mouse*/
    cursor: pointer;
    /*Modifica o cursos do mouse*/
}

/* TERCEIRA SESSÃO */
.sessão-03 {

    padding: 200px;
    /*Adiciona tamanho (preenchimento) para aparecer no site*/
    background-image: url(Imagens/Fundo\ da\ netflix.jpg);
    /*Imagem de fundo*/
    background-repeat: no-repeat;
    /*Não faz que repete a Inagem*/
    background-attachment: fixed;
    /*"Fixa a Imagem no fundo da página"*/
    background-position: center top;
    /*Posição da Imagem princial*/
    background-size: cover;
    /*Preenchimento da Imagem na área disponivel*/
}

/* EDIÇÃO DO SUBTÍTULO */
.sessão-03 h2 {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: center;
    /*Centraliza o texto ou imagem*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
    color: rgb(251, 255, 0);
    /*Cor da Letra*/
    font-size: 35px;
    /*Tamanho do Texto*/
}

/* EDIÇÃO DO PARAGRÁFO */
.sessão-03 p {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: center;
    /*Centraliza o texto ou imagem*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
    color: rgb(255, 255, 255);
    /*Cor da Letra*/
    font-size: 20px;
    /*Tamanho do Texto*/
}

/* RODAPÉ */
footer {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: center;
    /*Centraliza o texto ou imagem*/
    padding: 25px;
    /*Adiciona tamanho (preenchimento) para aparecer no site*/
    background-color: #030303;
    /*Cor de fundo*/
}

/* EDIÇÃO DA POSIÇÃO */
footer nav ul {
    display: flex;
    /*Deixa as as imagnes, títulos e paragráfos flexiveis*/
    justify-content: center;
    /*Centraliza o texto ou imagem*/
    align-items: center;
    /*Alinhamento na vertical - Deixando no centro*/
}

/* EDIÇÃO DA LISTA */
footer nav ul li {
    margin: 15px;
    /*Tamanho da margem entre as palavras*/
}

/* EDIÇÃO DAS ÂNCORAS */
footer nav ul li a {
    text-decoration: none;
    /*Remove o tipo de Texto*/
    font-weight: bold;
    /*Preenchimento das palavras*/
    color: rgb(255, 0, 0);
    /*Cor da Letra*/
}

footer nav ul li a:hover {
    color: aliceblue;
    transition: 1s;
}


/*TELA 02 ESTILIZAÇÃO*/
header i {
    /*Estilizando ícone*/
    color: aliceblue;
    /*Cor do ícone*/
    background-color: rgb(31, 31, 31);
    /*Cor de fundo do elemento */
    font-size: 40px;
    /*Tamanho do ícone*/
    padding: 20px;
    /*Respiro da cor de fundo*/
    border-radius: 50px;
    /*Arredondamento da caixa*/
}

/*Aplicando o efeito ao passar o mouse*/
header i:hover {
    /*Cor de fundo alternado*/
    background-color: #000000;
    /*Transição do elemento*/
    transition: 0.3s;
}

.Sessão-tela02 {
    background-image: url(Imagens/TELA02\ FUNDO.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 250px;
}

.Sessão-tela02 p {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aliceblue;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Sessão-tela02 span {
    color: rgb(229, 255, 0);
    font-weight: bold;
}

.Sessão-tela02a {
    background: linear-gradient(180deg, #000000 27.22%, #242424 100%);
    padding: 250px;
}


/* Div pai - dentro dele existe 3 caixas */
.div-pai1 {
    display: flex;
    /*Tornando os itens flex, deixando as caixas lado a lado*/
    justify-content: center;
    /*Justificando os itens ao centro*/
    margin-bottom: 50px;
    /*Modificamos a margem para da espaçamento entre as caixa a baixo*/
}

/* Estilização das caixas (Div filhos) */
.div-pai1 div {
    width: 200px;
    /*Larguran da caixa*/
    height: 250px;
    /*Altura da caixa*/
    margin-right: 100px;
    /*Modificamos a margem para da espaçamento a lateral das caixas*/
    background-color: rgb(48, 48, 48);
    /*Cor de fundo da caixa*/
    border-radius: 20px;
    /*Arredondamento da caixa*/
}

.div-pai1 .div-filho1 {
    background-image: url(Imagens/FILMES/HOMEM\ ARANHA.png);
    /*Imagem que ira aparecer ao passar o mouse*/
    background-size: cover;
    /*Centraliza a imagem na caixa (DIV)*/
    background-position: center;
    /*Posição da imagem no centro*/
    background-repeat: no-repeat;
    /*Tirar a repetição de imagem*/
}

.div-filho1:hover {
    transition: 1s;
    /*Tempo de transição ao passar o mouse*/
    width: 200px;
    /*Largura da Imagem*/
    height: 250px;
    /*Altura da Imagem*/
    background-image: url(Imagens/x.png);
    /*Modifica imagem ao passar o mouse*/
}

.div-pai1 .div-filho2 {
    background-image: url(Imagens/FILMES/HOMEM\ ARANHA\ DEUS.jpg);
    /*Imagem que ira aparecer ao passar o mouse*/
    background-size: cover;
    /*Centraliza a imagem na caixa (DIV)*/
    background-position: center;
    /*Posição da imagem no centro*/
    background-repeat: no-repeat;
    /*Tirar a repetição de imagem*/
}

.div-filho2:hover {
    transition: 1s;
    /*Tempo de transição ao passar o mouse*/
    width: 200px;
    /*Largura da Imagem*/
    height: 250px;
    /*Altura da Imagem*/
    background-image: url(Imagens/x.png);
    /*Modifica imagem ao passar o mouse*/
}

.div-pai1 .div-filho3 {
    background-image: url(Imagens/FILMES/MIRANHA.jpg);
    /*Imagem que ira aparecer ao passar o mouse*/
    background-size: cover;
    /*Centraliza a imagem na caixa (DIV)*/
    background-position: center;
    /*Posição da imagem no centro*/
    background-repeat: no-repeat;
    /*Tirar a repetição de imagem*/
}

.div-filho3:hover {
    transition: 1s;
    /*Tempo de transição ao passar o mouse*/
    width: 200px;
    /*Largura da Imagem*/
    height: 250px;
    /*Altura da Imagem*/
    background-image: url(Imagens/ok.png);
    /*Modifica imagem ao passar o mouse*/
}


.div-pai2 {
    display: flex;
    /*Tornando os itens flex, deixando as caixas lado a lado*/
    justify-content: center;
    /*Justificando os itens ao centro*/
}

.div-pai2 div {
    width: 200px;
    /*Larguran da caixa*/
    height: 250px;
    /*Altura da caixa*/
    margin-right: 100px;
    /*Modificamos a margem para da espaçamento a lateral das caixas*/
    background-color: rgb(48, 48, 48);
    /*Cor de fundo da caixa*/
    border-radius: 20px;
    /*Arredondamento da caixa*/
}

.div-pai2 .div-filho4 {
    background-image: url(Imagens/FILMES/deadpool.jpg);
    /*Imagem que ira aparecer ao passar o mouse*/
    background-size: cover;
    /*Centraliza a imagem na caixa (DIV)*/
    background-position: center;
    /*Posição da imagem no centro*/
    background-repeat: no-repeat;
    /*Tirar a repetição de imagem*/
}

.div-filho4:hover {
    transition: 1s;
    /*Tempo de transição ao passar o mouse*/
    width: 200px;
    /*Largura da Imagem*/
    height: 250px;
    /*Altura da Imagem*/
    background-image: url(Imagens/ok.png);
    /*Modifica imagem ao passar o mouse*/
}

.div-pai2 .div-filho5 {
    background-image: url(Imagens/FILMES/images.png);
    /*Imagem que ira aparecer ao passar o mouse*/
    background-size: cover;
    /*Centraliza a imagem na caixa (DIV)*/
    background-position: center;
    /*Posição da imagem no centro*/
    background-repeat: no-repeat;
    /*Tirar a repetição de imagem*/
}

.div-filho5:hover {
    transition: 1s;
    /*Tempo de transição ao passar o mouse*/
    width: 200px;
    /*Largura da Imagem*/
    height: 250px;
    /*Altura da Imagem*/
    background-image: url(Imagens/x.png);
    /*Modifica imagem ao passar o mouse*/
}

.div-pai2 .div-filho6 {
    background-image: url(Imagens/FILMES/WOLVWRINE.jpg);
    /*Imagem que ira aparecer ao passar o mouse*/
    background-size: cover;
    /*Centraliza a imagem na caixa (DIV)*/
    background-position: center;
    /*Posição da imagem no centro*/
    background-repeat: no-repeat;
    /*Tirar a repetição de imagem*/
}

.div-filho6:hover {
    transition: 1s;
    /*Tempo de transição ao passar o mouse*/
    width: 200px;
    /*Largura da Imagem*/
    height: 250px;
    /*Altura da Imagem*/
    background-image: url(Imagens/x.png);
    /*Modifica imagem ao passar o mouse*/
}



.Sessão-tela02b {
    background-color: #242424;
    /*Cor de fundo*/
    padding: 250px;
    /*Preenchimento da sessão*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Sessão-tela02b .div-titulo h2 {
    color: rgb(255, 22, 22);
    margin: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.Sessão-tela02b .div-titulo p {
    color: aliceblue;
    margin: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.div-iframe iframe {
    border-radius: 15px;
    margin-right: 30px;
}

.rodape {
    padding: 50px;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div-line img {
    width: 150px;
    height: 150px;
}